<div id="hero">
  <div class="inner">
    <div id="logo-wrap">
      <h1>
          <a href="">vc-bootstrap</a>
      </h1>
    </div>
    <p class="desc">vue components library</p>
    <p class="buttons">
      <a href="<%- theme.srcPath %>/guide/" class="btn btn-info">doc</a>
      <a href="https://github.com/iwaimai-bi-fe/vc-bootstrap"
       class="btn btn-info" 
       target="_blank">github</a>
       <a href="https://github.com/iwaimai-bi-fe/vc-bootstrap/archive/master.zip"
       class="btn btn-info">download</a>
    </p>
  </div>
</div>

